#main {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
}

#nbaplayers {
    width: 30%;
    height: 850px;
    overflow-y: scroll;
    display: inline-block;
    direction: ltr;
    /* background: rgba(0, 0, 255, 0.3); Adding a transparent blue background */
    position: relative;
}

#nbaplayers::before {
    content: "";
    background: url('nba.svg') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Adjust opacity to make the image transparent */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the image behind the content */
}


div {
    border: 3px solid black;
}

.selected {
    background: blue;
}

svg {
    border: 3px solid blue;
    display: block;
    width: 100%
}

#visHolder {
    width: 60%;
    height: 850px;
    display: inline-block;
}

#canvas {
    height: 600px;
}

#country {
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
}
#country img {
    width: 125px; 
    height: 250px; 
    object-fit: contain; 
}